<div class="flex flex-wrap">
    <app-product img="https://picsum.photos/200/300?r=2"  [title]="'Producto 1'" [price]="12" (addToCart)="handleAddToCart($event)"/>
    <app-product img="https://picsum.photos/200/300?r=21" [title]="'Producto 2'" [price]="13" (addToCart)="handleAddToCart($event)"/>
    <app-product img="https://picsum.photos/200/300?r=22" [title]="'Producto 3'" [price]="14" (addToCart)="handleAddToCart($event)"/>
    <app-product img="https://picsum.photos/200/300?r=23" [title]="'Producto 4'" [price]="15" (addToCart)="handleAddToCart($event)"/>
</div>